//- views/post.pug
extends layout

block content
  h1= post.title

  .post-body
    p= post.content

  h2 댓글 목록
  ul.comment-list
    if comments.length === 0
      li (댓글이 없습니다)
    else
      each c in comments
        li
          b= c.nickname
          | : #{c.content}

  //- ✅ 공통 댓글 입력 폼
  form.comment-form(method="POST", action=`/${type}/${item.id}/comment`)
    textarea(name="comment", placeholder="댓글을 입력하십시오.")
    .comment-actions
      a.emoji-btn(href="/emoji") 이모티콘
      button(type="submit") 등록
